<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link href="/static/css/bootstrap.icon-large.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	 <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<section>
 <article><contenido></article>
 <article><contenido></article>
 <article><contenido></article>
 <article><contenido></article>
 <article><contenido></article>
 <article><contenido></article>
<ul >
 <li><a href="#">Enviar</a></li>
 <li><a href="#">Subir a LinkedIn</a></li>
 <li><a href="#">Compartir</a></li>
 <li><a href="#">Twittear</a></li>
 <li><a href="#">+1</a></li>
 </ul>
 </nav> 
 
</section>
</body>
</html>