<!doctype html>

<html>
  
  <head>
    <title>No Empleados</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img src="/static/file/img/Logosmall.bmp" width="30%" height="5%" alt="Hospital Coromoto" longdesc="Hospital Coromoto">
        </div>
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <center>
                <h1 id cabeceraroja>Carnet no Empleados</h1>
              </center>
            </div>
            <div class="panel-body">
              <form>
                <div class="row">
                  <!--Comienza el primer bloque -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">ID</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Cedula</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div><!--Final del primer bloque -->
                  
                  <!--Comienza el Segundo bloque -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Nombre</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Apellido</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div><!--Final del Segundo bloque -->     
                  
                  <!--Comienza el Tercer bloque -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Clasificacion</label>
                      <div class="input-group custom-search-form">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
											    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
										    </span>                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Cargo</label>
                      <div class="input-group custom-search-form">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
											    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
										    </span>
                      </div>
                    </div>
                  </div><!--Final del Tercer bloque -->
                  
                  <!--Comienza el Cuarto bloque -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Fecha Inicio</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Fecha Fin</label>
                      <div class="controls">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div><!--Final del Cuarto bloque -->                  
                </div> <!--Final del Row-->

              </form>
            </div>
            <div class="panel-footer">Pie de Pagina
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>